<div [ngClass]="'row'">
    <div [ngClass]="'item'" *ngFor="let item of items;let i=index"(click)="ubicar_contexto(i)">
        {{item}}
    </div>
</div>
<br>
<div>
    <button (click)="incrementar()">Siguiente</button>
</div>
<br>
<div>
    {{contexto}}
</div>
<div>
    {{pregunta}}
</div>
<br>

<ion-col *ngFor="let respuesta of respuestas; let i = index">
    <ion-button (click)="ubicar_respuesta(respuesta.id)">
        {{i+1}} - {{respuesta.respue}}
        <br>
        <span *ngIf="respuesta.id==currentrespue">
            {{des_respuesta}}
        </span>
        <br>
    </ion-button>               
</ion-col>


<br>
<div>
    <button (click)="incrementar()">Siguiente</button>
</div>
<br>
<br>
<div>
    <button>Terminar</button>
</div>